@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --body-gray:hsl(212, 45%, 89%);
  --header-color: hsl(218, 44%, 22%);
  --font: "Outfit", sans-serif;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
}

body {
  background-color: var(--body-gray);
  font-family: var(--font);
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  border-radius: 16px;
  padding: 16px;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card > img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1em;
}

/* --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%); */

.card > h1 {
  color: var(--header-color);
  font-size: 1.5em;
  padding: .5em;
}

.card > p {
  color: var();
  font-size: 1em;
  padding: 0em 1.5em;
}

.attribution {
  position: fixed;
  bottom: 16px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
